body {
    background-color: #000;
    background-image: url(https://i.pinimg.com/originals/6e/3a/d0/6e3ad0f9192c1578842f5f78facbd229.jpg);
    background-repeat: no-repeat;
    color: #fff;
}

@media screen and (min-width: 1024px) {
    body {
        margin: 20px;
    }
}